.home {
  width: 100vw;
  height: 100vh;
  padding-left: 280px;
  background-color: aliceblue;
  .inner {
    padding: 64px 64px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 64px;
    font-weight: 700;
  }
}