.order {
  width: 100vw;
  height: 100vh;
  padding-left: 280px;
  background-color: aliceblue;
 
  &-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding: 48px 48px;
    flex-wrap: wrap;
    .btn-add {
      margin-left: 700px;
      margin-bottom: 24px;
    }
  }
}